[project]
	description = Smoothed Quadratic Energies on Meshes - Martinez Esturo et. al - ACM TOG 2014 - Reference Implementation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Janick Martinez Esturo (ph03)
[access "refs/for/refs/*"]
	read = group user/Janick Martinez Esturo (ph03)
	push = group user/Janick Martinez Esturo (ph03)
	label-Code-Review = -2..+2 group user/Janick Martinez Esturo (ph03)
	label-Verified = -1..+1 group user/Janick Martinez Esturo (ph03)
	rebase = group user/Janick Martinez Esturo (ph03)
	removeReviewer = group user/Janick Martinez Esturo (ph03)
	submit = group user/Janick Martinez Esturo (ph03)
[access "refs/heads/*"]
	read = group user/Janick Martinez Esturo (ph03)
	create = group user/Janick Martinez Esturo (ph03)
	push = +force group user/Janick Martinez Esturo (ph03)
	pushMerge = group user/Janick Martinez Esturo (ph03)
[access "refs/tags/*"]
	push = +force group user/Janick Martinez Esturo (ph03)
	pushTag = group user/Janick Martinez Esturo (ph03)
	pushSignedTag = group user/Janick Martinez Esturo (ph03)
